.App {
  text-align: center;
  padding-top: 10%;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.App-logo {
  /* height: 40vmin; */
  width: 20%;
  pointer-events: none;
}
.d {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}